@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.navbar-custom {
  background-color: #C8B8A2;
  font-family: 'Source Serif Pro', serif;
  height: 60px;
  padding-bottom: 90px;
}

.navbar-custom .text-white {
  color: #fff;
}

.navbar-custom .font-semibold {
  font-weight: 600;
}

.navbar-custom .font-medium {
  font-weight: 500;
}

.brand-name {
  font-size: 2rem; 
  font-weight: 200;
}
