body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    text-align: center;
    margin-top: 20px;
}
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}
.intro-text {
    max-width: 45%;
}
.intro-text h1 {
    font-size: 2.5em;
    color: #333;
}
.intro-text p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.5;
}
.intro img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.hobbies {
    margin-top: 50px;
    background-color: #f0f1f6;
    padding: 20px;
    border-radius: 10px;
}
.hobbies h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
}
.hobbies p {
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin-top: 10px;
}
.hobbies-images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}
.hobbies-images img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}
