/* SINGLE SIBLING SELECTOR */

/* descendent selector */
/* .main-div h1{
    color: brown;
    background-color: antiquewhite;
} */

/* child selector */
/* .main-div > h1{
    color: rgb(119, 201, 174);
    background-color:rgb(222, 102, 102);
} */

/* Adjacent Selector : h2 will only be highlighted as h2 is adjacent(reight below) h1*/
/* h1+h2{
    color:antiquewhite;
    background-color: rgb(108, 202, 202);
} */

/* GENERAL SIBLING SELECTOR */
/* h1 ~ h2{
    color: aquamarine;
} */

.main-div{
    color: aqua;
    width: auto;
    background-image: url(../extra/login.png);
     /* background-repeat:no-repeat; */
     background-position: left top;    
     background-attachment: fixed;
} 

